/*______ Start Card detail ______*/

#card {
  margin: 100px auto;
  max-width: 1200px;
}

.card-detail {
  padding: 25px;
  border: 1px solid #d4d4d4;
  &__top {
    margin-bottom: 30px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
  }

  &__price {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold; 
  }

  &__images-wrapper {
    margin-bottom: 30px;
    max-width: 60%;
  }
  &__author {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
  }

  &__desc {
    font-size: 18px;
    line-height: 24px;
  }
}


.big-images {
  margin-bottom: 20px;
  .image {
    img {
      max-width: 100%;
    }
  }
}

.small-images-wrapper {
  overflow-x: auto;
}

.small-images {
  margin-left: -20px;
  min-width: 400px;
  display: flex;
  .preview {
    margin-left: 20px;
    width: calc((100% - 30px) / 3);
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*______ End Card detail ______*/