/*______ Start Card detail ______*/

#card {
  margin: 100px auto;
  max-width: 1200px;
}

.card-detail {
  padding: 25px;
  border: 1px solid #d4d4d4;
  &__top {
    margin-bottom: 30px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
  }

  &__price {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold; 
  }

  &__author {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
  }

  &__desc {
    font-size: 18px;
    line-height: 24px;
  }
}

/*______ End Card detail ______*/