@media (min-width: 0) and (max-width: 640px) {
  .card-list {
    margin-left: 0;
  }
  .slider-wrapper {
    max-width: 100%;
  }
  .big-images {
    .image {
      height: 200px;
    }
  }
}

@media (min-width: 640px) {
  .card-list li {
    margin-left: 20px;
    flex-basis: calc((100% - 40px) / 2);
  }
  .slider-wrapper {
    max-width: 80%;
  }
}

@media (min-width: 960px) {
  .card-list li {
    flex-basis: calc((100% - 60px) / 3);
  }
  .slider-wrapper {
    max-width: 60%;
  }
}